@model MVC3.Models.PLGame

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PLGame</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.player1Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player1Name)
            @Html.ValidationMessageFor(model => model.player1Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.player1Race)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player1Race)
            @Html.ValidationMessageFor(model => model.player1Race)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.player1RaceCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player1RaceCode)
            @Html.ValidationMessageFor(model => model.player1RaceCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.player1Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player1Code)
            @Html.ValidationMessageFor(model => model.player1Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.player1League)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player1League)
            @Html.ValidationMessageFor(model => model.player1League)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.player2Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player2Name)
            @Html.ValidationMessageFor(model => model.player2Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.player2Race)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player2Race)
            @Html.ValidationMessageFor(model => model.player2Race)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.player2RaceCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player2RaceCode)
            @Html.ValidationMessageFor(model => model.player2RaceCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.player2Code)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.player2Code)
            @Html.ValidationMessageFor(model => model.player2Code)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.matchup)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.matchup)
            @Html.ValidationMessageFor(model => model.matchup)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.length)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.length)
            @Html.ValidationMessageFor(model => model.length)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.time)
            @Html.ValidationMessageFor(model => model.time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.winnerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.winnerName)
            @Html.ValidationMessageFor(model => model.winnerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.map)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.map)
            @Html.ValidationMessageFor(model => model.map)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.spawns)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.spawns)
            @Html.ValidationMessageFor(model => model.spawns)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.size)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.size)
            @Html.ValidationMessageFor(model => model.size)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.downloadCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.downloadCount)
            @Html.ValidationMessageFor(model => model.downloadCount)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
