@model MVC3.Models.GameInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GameInfo</legend>

    <div class="display-label">player1Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.player1Name)
    </div>

    <div class="display-label">player2Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.player2Name)
    </div>

    <div class="display-label">matchup</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matchup)
    </div>

    <div class="display-label">downloadCount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.downloadCount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
